/* Estilos - General */


.titulo {
  color: #333399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  font-weight: bold;
}

.error_general {
	color: #990033;
	font-family: Verdana, Helvetica, Arial;
	font-size: 13px;
}

.error_en_campo {
	color: #996600;
	font-family: Verdana, Helvetica, Arial;
	font-size: 11px;
}

.etiqueta {
  color: #808000;
  font-family: Verdana, Helvetica, Arial;
  font-weight: bold;
  font-size: 12px;
}

.control {
  color: #000033;
  font-family: Verdana, Helvetica, Arial;
  font-weight: normal;
  font-size: 11px;
}

.boton {
  color: #000033;
  font-family: Verdana, Helvetica, Arial;
  font-weight: normal;
  font-size:11px;
  width: 100px;
  height: 25px;
}

/* Estilos - Pagina Login */

.loginTitle {
  color: #990033;
  font-family: Verdana, Helvetica, Arial;
  font-size: 20px;
}

.loginLabel {
  background-color: #E8DAC1;
  color: #808000;
  font-family: Verdana, Helvetica, Arial;
  font-weight: bold;
  font-size: 12px;
}

.loginControl {
  color: #000033;
  font-family: Verdana, Helvetica, Arial;
  font-weight: normal;
  font-size: 11px;
}

.loginButton {
  color: #000033;
  font-family: Verdana, Helvetica, Arial;
  font-weight: normal;
  font-size:11px;
  width: 100px;
  height: 25px;
}

/* Estilos - Grid */

.grilla_titulo {
  color: #003366;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
  font-weight: bold;
}

.grilla_cabecera {
	background-color: #003366;
  color: #FFFFFF;
  font-family: Verdana, Helvetica, Arial;
  font-weight: bold;
  font-size: 11px;
}

.grilla_campo {
  color: #003366;
  font-family: Verdana, Helvetica, Arial;
  font-weight: normal;
  font-size: 10px;
}
